body {
    background-color: #4a4a52;
}

a:hover,
a:visited,
a:link,
a:active {
    color: black;
    text-decoration: none;
}

.close-icon {
    position: relative;
    top: 6px;
    cursor: pointer;
    align-self: flex-end;
}

.bookmark {
    background-color: #F5EEDC;
    max-width: 256px;
    margin: 8px;
}

.sign {
    width: 400px;
    height: 400px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.mascot {
    width: 400px;
    height: 400px;
    background: url('./tree.gif');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}


/* #DD4A48 */